@font-face {font-family: 'IRANSans';src: url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb.eot) format('eot'),url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb_Black.eot) format('eot'),url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb_Bold.eot) format('eot'),url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb_Light.eot) format('eot'),url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb_Medium.eot) format('eot'),url(./fonts/IRANSans-2/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot) format('eot');src: url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb.ttf) format('truetype'),url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb_Black.ttf) format('truetype'),url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb_Bold.ttf) format('truetype'),url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf) format('truetype'),url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb_Medium.ttf) format('truetype'),url(./fonts/IRANSans-2/WebFonts/fonts/ttf/IRANSansWeb_UltraLight.ttf) format('truetype');src: url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb.woff) format('woff'),url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb_Black.woff) format('woff'),url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb_Bold.woff) format('woff'),url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb_Light.woff) format('woff'),url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb_Medium.woff) format('woff'),url(./fonts/IRANSans-2/WebFonts/fonts/woff/IRANSansWeb_UltraLight.woff) format('woff');src: url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb.woff2) format('woff2'),url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb_Black.woff2) format('woff2'),url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb_Bold.woff2) format('woff2'),url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb_Light.woff2) format('woff2'),url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb_Medium.woff2) format('woff2'),url(./fonts/IRANSans-2/WebFonts/fonts/woff2/IRANSansWeb_UltraLight.woff2) format('woff2');}*{font-family: 'IRANSans';}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	direction: rtl;
	background-color: #F8F8FA !important;
}

.full-page {
	width: 100%;
	display: flex;
}

/* ---------------------------- SIDEBAR ---------------------------- */
.sidebar {
	display: none;
	min-height: 100vh;
	background-color: #FFFFFF;
	width: 10%;
	padding: 16px 24px;
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.sidebar__logo {
	width: 60%;
	border-bottom: 1px solid #C4C4C4;
	padding-bottom: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.setare-logo {
	width: 60px;
	height: 52px;
	margin-bottom: 8px;
}

.management-panel {
	color: #130F26;
	font-size: 16px;
	line-height: 27px;
}

.sidebar__items {
	margin-top: 31px;
	margin-left: 31px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.active {
	background-color:#E4EFFF;
	border-radius: 10px;
}

.sidebar-items__item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-top: 14px;
	margin-left: 8px;
	justify-content: center;
}

.sidebar-icons {
	padding: 16px;
	border-radius: 10px;	
}

.item-text {
	display: none;
	font-size: 14px;
	line-height: 24px;
	color: #130F26;
} 

.active-text {
	color: #59A0FF !important;
}


.sidebar-active-item {
	background: #E4EFFF;
	border-radius: 10px;
}

.personal-details {
	display: block;
	background: #E4EFFF;
	border-radius: 15px;
	padding: 16px;
	position: relative;
	margin-top: 80px;
	margin-bottom: 33px;
}

.personal-details__credit {
	display: flex;
  justify-content: space-between;
}

.personal-details__credit > * {
	font-size: 10px;
  margin-top: 12px;
}

.person-image {
	border-radius: 100%;
	width: 40px;
	border: 3px solid #E4EFFF;
	height: 40px;
	position: absolute;
	bottom: 84px;
	left: 50%;
	transform: translateX(-50%);
}

.sidebar__logout-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 130px;
	background: rgba(235, 87, 87, 0.1);
	padding: 16px;
	border-radius: 10px;
	border: 0;
}

.logout-text {
	margin-right: 12px;
	display: none;
	color: #EB5757;
}
/* ---------------------------- CONTAINER ---------------------------- */
.page-container {
	width: 99%;
	padding: 0 12px;
}

/* ---------------------------- MOBILE HEADER AND MENU ---------------------------- */
.responsive-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.page-title {
	margin: 0 auto;
}

.responsive-header__responsive-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	z-index: 1;
}

.menu-links {
	display: none;
	padding: 12px;
	max-width: 100%;
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	z-index: 100;
}

.menu-links__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 12px;
	border-bottom: 1px solid #F3F3F3;
}

.header__logo-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.setare-logo {
	margin-bottom: 8px;
}

.responsive-menu__person-image {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	z-index: 100;
}

.menu-links__body {
	list-style-type: none;
	margin-top: 32px;
	margin-bottom: 48px;
	padding: 0;
}

.body__item {
	display: flex;
	align-items: center;
	padding: 16px;
	max-width: 100%;
}

.responsive-menu-item__title {
	margin-right: 16px;
}

.active-item {
	background-color: #E4EFFF;
	border-radius: 10px;
}

.active-title {
	color: #59A0FF;
}

.menu-links__footer {
	background-color: #E4EFFF;
	border-radius: 15px;
	padding: 16px;
	position: relative;
}

.credit__person-image {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: absolute;
	bottom: 76px;
	right: 50%;
	transform: translateX(50%);
}

.credit__person-name {
	text-align: center;
	margin-bottom: 12px;
	font-weight: 400;
}

.credit-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logout-button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 68px;
	width: 100%;
}

.logout-button-wrapper__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	background: rgba(235, 87, 87, 0.1);
	border-radius: 10px;
	color: #EB5757;
	border: 0;
}

.logout-button__logout-icon {
	margin-left: 12px;
}


/* ---------------------------- PAGE HEADER ---------------------------- */
.page-header {
	width: 98%;
	display: none;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	width: 100%;
	padding: 14px;
}

.page-header__breadcrumb {
	display: flex;
	align-items: center;
}

.home {
	font-size: 14px;
	line-height: 24px;
	color: #C1C1C1;
}

.header-item {
	font-size: 14px;
	line-height: 24px;
}

.left-icon {
	width: 24px;
	height: 24px;
}

.page-header__timezone {
	width: 22%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 142px;
}

.timezone__item, .timezone__item-second {
	display: flex;
	align-items: center;
}


.timezone__icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
}

.page-header__notification:first-child {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.notification__icon {
	width: 36px;
	height: 36px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 4px;
}

.notification__icon-person {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	margin-right: 24px;
}

.filter-section {
	margin-top: 12px;
	margin-bottom: 16px;
}

.action-button-wrapper__excel-button {
	padding: 6px 10px;
	border: 0;
	color: #FFFFFF;
	background: #57BE6C;
	box-shadow: 0px 0px 10px rgba(87, 190, 108, 0.05);
	border-radius: 5px;
	font-size: 12px;
}

.table-responsive {
	margin-top: 12px;
}

.responsive-table-header {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.responsive-table__table-cell {
	display: flex;
	min-width: 140px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 18px;
	font-size: 12px;
}

.pend-item {
	color: #EB5757;
}

.done-item {
	color: #57BE6C;
}

.responsive-table-row {
	display: flex;
	border-radius: 10px;
}

.responsive-table-row-header {
	background: #007BFF;
	color: #FFFFFF;
	height: 68px;
}

.responsive-table-row-item {
	background-color: #FFFFFF;
	margin-top: 8px;
	height: 50px;
}

.tab-content {
	display: none;
}

.show-tab {
	display: block;
}

.form-control {
	width: 100px !important;
}

button {
	outline: none;
}

.action-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}
.ticket-icon {
	margin-left: 4px;
}

.add-ticket-button {
	border: 1px solid ;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 10px rgba(87, 190, 108, 0.05));
	border-radius: 5px;
	padding: 6px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #007BFF;
	color: #F8F8FA;
	font-size: 12px;
}

.wallet-charge-time-container {
	display: flex;
	flex-direction: column;
}

.direct-charge-table__date {
	display: flex;
	flex-direction: column;
}

#exampleModal {
	width: 100%;
}

.ticket-subject-hint {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #130F26;
	text-align: right;
	margin-bottom: 8px !important;
}

.ticket-description {
	width: 100%;
	margin-top: 24px;
	
}

.ticket-description__hint {
	color: #130F26;
	text-align: right;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 8px;
}

.ticket-description__textfield {
	width: 100%;
	padding: 10px 12px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	height: 115px;
	font-size: 12px;
	line-height: 20px;
	resize: none;
}

.ticket-description__textfield::placeholder {
	color: #C4C4C4;
	font-size: 12px;
}

.modal-body, .modal-footer {
	padding: 0 !important;
	border: none;
}

.ticket-subject-input {
	border: 1px solid #C4C4C4 !important;
	box-sizing: border-box;
	border-radius: 5px;
	height: 40px;
	width: 100%;
	padding: 10px 12px;
	outline: none;
	font-size: 12px;
	line-height: 20px;
}

.ticket-subject-input::placeholder {
	color: #C4C4C4;
	font-size: 12px;
}

.ticket-title {
	width: 100%;
}

.modal-header {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	display: none !important;
}

.modal-header__modal-title {
	padding: 0 !important;
	margin: 0 auto 24px !important;
	font-size: 20px;
	line-height: 34px;
}

.close {
	display: none;
}

.filter-section {
	position: relative;
	display: flex;
	align-items: center;
}

.filter-inputs {
	display: none;
	align-items: center;
	position: relative;
}

.search-input::placeholder {
	color: #C4C4C4;
}

.see-message-details {
	border: 1.5px solid #59A0FF;
	box-sizing: border-box;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	padding: 8px;
	width: 126px;
	height: 42px;
	color: #59A0FF;
	text-align: center;
}
.see-message-details:focus {
	outline: none;
}

select option[disabled]:first-child {
	display: none;
}

.modal-dialog {
	background-color: #FFFFFF;
	border-radius: 10px;
	top: 169px;	
	width: 900px;
}

select.advanced-search-dropdown {
	color: grey;
	font-size: 12px;
	padding: 0;
	height: 28px;
}

.modal-close-icon {
	position: absolute;
	top: 20px;
	right: 20px;
}

.modal-body_content {
	display: flex;
	flex-direction: column;
}

.modal-content, .modal-footer {
	border: none !important;
}

.modal-content {
	position: relative;
	padding: 32px 12px;
}

.modal-footer {
	padding-bottom: 32px !important;
}

.modal-footer-content {
	display: flex;
	justify-content: center;
	width: 100%;
}

.modal-footer-content-nomobile {
	display: none;
	display: flex;
	justify-content: flex-end;
	padding-left: 32px;
}

.submit-button-nomobile {
	background: #007BFF;
	border-radius: 10px;
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	line-height: 27px;
	padding: 10px 28px;
	display: none;
}

.footer-button {
	border: 0;
	padding: 6px;
	border-radius: 5px;
	width: 80px;
}

.close-button {
	background-color: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	color: #C4C4C4;
}

.submit-form {
	background: #59A0FF;
	color: #FFFFFF;
	margin-left: 32px;
}

.container-content {
  margin-top: 24px;
}

.operator-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.operator-title__operator-logo {
  margin-left: 8px;
}

.operator-name {
  color: #130F26;
  font-size: 16px;
  line-height: 27px;
}

.operator-discounts {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(19, 15, 38, 0.05);
  border-radius: 10px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.operator-service {
  text-align: center;
}

.discount-number {
  display: block;
  text-align: center;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 16px;
  padding: 8px;
}

.mid-service {
  margin: 32px 0;
}

.mid-operator {
  margin: 32px 0;
}

.operator-dicount-service-title {
  font-size: 14px;
  line-height: 24px;
}

.no-mobile {
  display: none;
}

.full-wrapper {
  background-color: white;
  border-radius: 15px;
  padding: 32px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-discounts-text {
  display: none;
}


/* ---------------------------- 320 PX ------------------------- */
@media (min-width: 320px) {
	.sidebar {
		display: none;
	}
	.personal-details {
		display: none;
	}
}

/* ---------------------------- 768 PX ------------------------- */
@media (min-width: 768px) {
  .mobile-content {
    display: none;
  }
  .no-mobile {
    display: block;
  }
  .operator-values {
    width: 225px;
  }
}

/* ---------------------------- 992 PX ---------------------------- */
@media (min-width: 992px) {
	.sidebar {
		display: block;
	}
	.personal-details__name {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
	}
	.credit-text {
		font-size: 12px;
		line-height: 20px;
	}
	.responsive-header {
		display: none;
	}
	.page-container {
		padding: 0;
	}
	.sidebar__logout-icon {
		width: 100%;
		margin-right: 4px;
	}
	.page-header {
		display: flex;
		width: 100%;
	}
	.wallet-charge-time-container {
		display: flex;
	}
	.wallet-charge-date::after {
		content: '-';
		margin: 4px;
	}
	.filter-section {
		width: 100%;
		display: flex;
		margin-top: 24px;
	}
	.action-button-wrapper__excel-button {
		font-size: 16px;
		padding: 10px;
		width: 164px;
	}
	.add-ticket-button {
		font-size: 16px;
		padding: 10px;
		width: 164px;
		height: 44px;
	}
	.sidebar__items {
		margin-left: 60px;
	}
	.ticket-icon, .excel-icon {
		width: 24px;
		height: 24px;
	}
	
	.search-input::placeholder {
		font-size: 16px;
		line-height: 27px;
		font-weight: 400;
	}
	.action-button-wrapper__excel-button {
		padding: 11px 24px;
		border-radius: 10px;
	}
	.add-ticket-button {
		padding: 10px 12px;
		height: 48px;
		border-radius: 10px;
	}
	.search-inputs__timestep {
		padding: 10px 12px !important;
		height: 48px !important;
		font-size: 16px !important;
	}
	.search-input {
		padding: 10px 12px;
		width: 215px;
		font-size: 16px;
		line-height: 27px;
		padding-right: 48px;
	}
	.search-icon {
		width: 24px;
		height: 24px;
	}
	.timezone__item-second {
		margin-right: 40px;
	}
	.page-header {
		padding-left: 24px;
		padding-right: 18px;
	}
  .container-content {
    margin-right: 18px;
    padding-left: 24px;
    margin-top: 24px;
  }
	.responsive-table-row-header {
		height: 75px;
	}
	.responsive-table-row-item {
		height: 75px;
	}
  .operator-values {
    width: 255px;
  }
  .see-discounts-text {
    font-size: 18px;
    line-height: 31px;
    text-align: right;
    display: block;
  }
}

/* ---------------------------- 1366 PX ---------------------------- */
@media (min-width: 1366px) {
	.sidebar {
		width: 15%;
		padding: 16px;
	}
	.sidebar-items__item {
		justify-content: flex-start;
		width: 100% !important;
		border-radius: 10px;
	}
	.item-text {
		display: block;
	}
	.personal-details__name {
		text-align: center;
	}
	.personal-details {
		display: block;
	}
	.sidebar__logout-icon {
		margin-top: 30px;
		width: 100%;
		margin-right: 0;
	}
	.logout-text {
		display: block;
	}
	.filter-section {
		width: 100%;
	}
	.sidebar__items {
		margin-left: 31px;
	}
	.page-header {
		padding-left: 117px;
		padding-right: 28px;
	}
	.page-header__timezone {
		width: 15%;
		margin-right: 117px;
	}
	.notification__icon-person {
		margin-right: 64px;
	}
	.modal-content {
		padding: 32px !important;
		border-radius: 20px !important;
	}
	.modal-footer {
		border-radius: 20px !important;
	}
	.action-button-wrapper__excel-button, .add-ticket-button {
		font-size: 16px;
		line-height: 27px;
	}
	.search-icon {
		top: 12px;
	}
	.timezone__item-second {
		margin-right: 40px;
	}
	.container-content {
		padding-left: 117px;
    margin-right: 28px;
	}
	.responsive-table__table-cell-header {
		font-size: 18px;
		line-height: 31px;
	}
	.responsive-table__table-cell {
		font-size: 16px;
		line-height: 27px;
	}
  .operator-values {
    width: 269px;
  }
}